<div class="p-2.5 border border-gray-300 border-solid">
    <textarea rows="4" nz-input ></textarea>
    <button class="mt-2.5" nz-button nzType="primary">Gửi Cọp Xanh</button>
</div>
<div class="bg-gray-100 p-2.5 border border-gray-300 border-solid">
    <ng-container>
        <div class="flex justify-between">
            <div class="font-medium text-gray-600">Cop xanh</div>
            <div class="text-gray-400">15:27 13/10</div>
        </div>
        <div class="">
            Chuyển trạng thái kiện hàng 823328334 sang Chờ giao hàng
        </div>
    </ng-container>
</div>