<div class="flex h-10 bg-blue-400 items-center">
    <div class="leading-10 w-1/2 h-10 px-2.5 text-white font-bold">Thông tin đơn hàng</div>
    <div class="leading-10 w-1/4 h-10 px-2.5 text-white font-bold border-l border-white">Chi tiết</div>
    <div class="leading-10 w-1/4 h-10 px-2.5 text-white font-bold border-l border-white">Lịch sử</div>
</div>
<div class="flex border-gray-300 border border-solid">
    <div class="w-1/2 flex p-2.5">
        <div class="flex-none">
            <img nz-image width="90px" height="90px" nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"alt=""/>
        </div>
        <div class="flex-grow p-2.5 pt-0 pl-5">
            <h3 class="pb-1.5">BE5693_89172</h3>
            <div class="flex items-center pb-1.5">
                <div class="w-1/3">Trạng thái</div>
                <div class="w-2/3">
                    <span>Nhận hàng</span>
                </div>
            </div>
            <div class="flex items-center pb-1.5">
                <div class="w-1/3">Shop</div>
                <div class="w-2/3">
                    <span>尚巧厨旗舰店</span>
                </div>
            </div>
            <div class="flex items-center pb-1.5">
                <div class="w-1/3">Website</div>
                <div class="w-2/3">
                    Tmall
                </div>
            </div>
            <div class="flex items-center pb-1.5">
                <div class="w-1/3">Số lượng</div>
                <div class="w-2/3">
                    1 / 1 / ---
                </div>
            </div>
            <div class="flex items-center pb-1.5">
                <div class="w-1/3">Giá vốn</div>
                <div class="w-2/3">
                    118.614đ
                </div>
            </div>
            <button class="pb-1.5" nz-button >Chi tiết</button>
        </div>

    </div>
    <div class="w-1/4 p-2.5">
        <div class="flex items-center pb-1.5">
            <div class="w-2/5">Phí dịch vụ</div>
            <div class="w-3/5">
                7.000đ 
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-2/5">Phí VCT QT</div>
            <div class="w-3/5">
                7.000đ 
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-2/5">Đã thanh toán</div>
            <div class="w-3/5">
                7.000đ 
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-2/5">Trả lại</div>
            <div class="w-3/5">
                7.000đ 
            </div>
        </div>
        
    </div>
    <div class="w-1/4 p-2.5">
        <div class="flex items-center pb-1.5">
            <div class="w-3/5" >Khách nhận hàng</div>
            <div class="w-2/5" >
                00:00 28/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5" >Nhận hàng</div>
            <div class="w-2/5" >
                00:00 28/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5" >Đang giao</div>
            <div class="w-2/5" >
                09:49 12/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5">Chờ giao</div>
            <div class="w-2/5">
                16:32 07/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5">Vận chuyển</div>
            <div class="w-2/5">
                00:00 28/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5">Nhập Hàng nhận</div>
            <div class="w-2/5">
                00:00 28/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5">NB giao</div>
            <div class="w-2/5">
                09:49 12/03/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5">Đã mua</div>
            <div class="w-2/5">
                19:56 28/02/2021
            </div>
        </div>
        <div class="flex items-center pb-1.5">
            <div class="w-3/5">Đặt cọc</div>
            <div class="w-2/5">
                19:56 28/02/2021
            </div>
        </div>
    </div>
</div>