<div class="flex">
    <div class="w-4/5">
        <cx-order-detail-info></cx-order-detail-info>
        <cx-order-detail-history></cx-order-detail-history>
        <cx-order-detail-transaction></cx-order-detail-transaction>
        <cx-order-detail-complain></cx-order-detail-complain>
        <cx-order-detail-package></cx-order-detail-package>
        <cx-order-detail-product></cx-order-detail-product>
        <cx-order-detail-finance></cx-order-detail-finance>
    </div>
    <div class="w-1/5 ml-5">
        <cx-order-detail-chat></cx-order-detail-chat>
    </div>
</div>
