<nz-result nzStatus="success" nzTitle="Đơn hàng đã được tạo thành công"
    nzSubTitle="Quý khách có thể quản lý các đơn hàng của mình tại trang Danh sách đơn hàng.">
    <div nz-result-content>
        <div class="desc">
            <p nz-paragraph>
                Cọp Xanh sẽ tiến hành liên hệ người bán và mua hàng cho Quý khách.
            </p>
            <p nz-paragraph>
                Mọi thông tin trong quá trình làm việc với người bán sẽ được Nhập Hàng cập nhật trên comment của đơn.
            </p>
        </div>
    </div>
    
    <div nz-result-extra>
        <button nz-button nzType="primary">Chi tiết đơn hàng</button>
    </div>
</nz-result>