<div class="flex">
    <div class="w-12 flex-none p-2.5">
        <label nz-checkbox ></label>
    </div>
    <div class="flex-grow">
        <div class="flex">
            <div class="flex w-2/5 p-2.5">
                <div>
                    <img
                    nz-image
                    width="69px"
                    height="69px"
                    nzSrc="{{ product.image_origin }}"
                    alt=""
                    />
                </div>
                <div class="pl-2.5">
                    <p><a class="text-blue-600" href="#">{{ product.title_origin }}</a></p>
                    <p>{{ product.properties }}</p>
                </div>
            </div>
            <div class="w-1/5 p-2.5">
                <nz-input-number [(ngModel)]="product.quantity" (ngModelChange)="onChangeQuantity($event)" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </div>
            <div class="w-1/5 p-2.5">
                <p class="text-gray-900">{{ product.price_origin | exchangeMoney:product.price_promotion | number}}đ</p>
                <p class="text-gray-500">¥{{ ( product.price_origin | price:product.price_promotion) }}</p>
            </div>
            <div class="w-1/5 p-2.5">
                <p class="font-semibold text-gray-900">{{ (product.price_origin | exchangeMoney:product.price_promotion) | sumMoney: product.quantity | number }}đ</p>
                <p class="font-semibold text-gray-500">¥{{ ( product.price_origin | price:product.price_promotion) | sumMoney: product.quantity}}</p>
            </div>
        </div>
    </div>
</div>