<div class="flex">
    <div class="w-3/5 flex">
        <div class="w-1/2 px-5">
            <div class="flex justify-between py-2.5">
                <div>Tiền hàng</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Giá Trị Cao</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Vận Chuyển</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Đóng Gỗ Riêng</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Quấn bọt khí chung</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>CPN Quốc Tế</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>VC nội địa TQ</div>
                <div class="font-medium">120.666đ</div>
            </div>
        </div>
        <div class="w-1/2 px-5">
            <div class="flex justify-between py-2.5">
                <div>Mua Hàng</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Kiểm Hàng</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Đóng Gỗ</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>VCT Quốc Tế</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>Quấn bọt khí riêng</div>
                <div class="font-medium">120.666đ</div>
            </div>
            <div class="flex justify-between py-2.5">
                <div>CP tiết kiệm</div>
                <div class="font-medium">120.666đ</div>
            </div>
        </div>
    </div>
    <div class="w-2/5 px-5 bg-yellow-300">
        <div class="flex justify-between py-2.5">
            <div>Giá vốn</div>
            <div class="font-medium">120.666đ</div>
        </div>
        <div class="flex justify-between py-2.5">
            <div>Phí dịch vụ</div>
            <div class="font-medium">120.666đ</div>
        </div>
        <div class="flex justify-between py-2.5">
            <div>Phí VC QT</div>
            <div class="font-medium">120.666đ</div>
        </div>
        <div class="flex justify-between py-2.5">
            <div>Tổng chi phí</div>
            <div class="font-bold">120.666đ</div>
        </div>
        <div class="flex justify-between py-2.5">
            <div>Đã thanh toán</div>
            <div class="font-medium">120.666đ</div>
        </div>
        <div class="flex justify-between py-2.5">
            <div>NH trả lại</div>
            <div class="font-medium">120.666đ</div>
        </div>
        <div class="flex justify-between py-2.5">
            <div>Cần thanh toán</div>
            <div class="font-medium">120.666đ</div>
        </div>
    </div>
</div>