<div>
  <div class="my-5">
      <p class="text-yellow-700 py-1">Chú ý:</p>
      <p class="text-yellow-700 py-1">Sản phẩm trong giỏ sẽ tự động xóa trong vòng 30 ngày.</p>
      <p class="text-yellow-700 py-1">Người bán trên website 1688.com thường có quy định về số lượng mua tối thiểu, bội số mỗi sản phẩm, giá trị đơn hàng tối thiểu và sẽ từ chối bán nếu không đáp ứng. Trong trường hợp đó Nhập Hàng sẽ hủy những đơn hàng này và không báo trước.</p>
  </div>

  <nz-tabset>
      <nz-tab nzTitle="Thường" class="uppercase">
        <ng-template nz-tab>
          <cx-cart-product-normal></cx-cart-product-normal>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Kí gửi" class="uppercase ">
        <ng-template nz-tab>
          Chức năng đang phát triển
        </ng-template>
      </nz-tab>
    </nz-tabset>
</div>