<nz-collapse>
    <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
      <p style="margin:0;">Tất cả <span>(50)</span></p>
      <p style="margin:0;">Đã đặt cọc <span>(50)</span></p>
      <p style="margin:0;">Đang hoạt động <span>(50)</span></p>
      <p style="margin:0;">Đang giao hàng <span>(50)</span></p>
      <p style="margin:0;">Nhận hàng <span>(50)</span></p>
      <p style="margin:0;">Hết hàng <span>(50)</span></p>
      <p style="margin:0;">Hủy bỏ <span>(50)</span></p>
      <p style="margin:0;">Thất lạc <span>(50)</span></p>
    </nz-collapse-panel>
  </nz-collapse>