<nz-card nzTitle="Khiếu nại" class="mb-2.5">
    <div class="flex">
        <div class="w-2/5 font-medium py-2.5">Tên khiếu nại</div>
        <div class="w-1/5 font-medium py-2.5">Trạng thái</div>
        <div class="w-1/5 font-medium py-2.5">Yêu cầu/ Đề xuất</div>
        <div class="w-1/5 font-medium py-2.5">Thời gian</div>
    </div>
    <div class="flex border-t border-gray-300 border-solid">
        <div class="w-2/5 py-2.5">Khiếu nại 1</div>
        <div class="w-1/5 py-2.5 text-red-400 font-medium">---</div>
        <div class="w-1/5 py-2.5">---</div>
        <div class="w-1/5 py-2.5">
            ---
        </div>
    </div>
</nz-card>