<nz-card nzTitle="Danh sách sản phẩm" class="mb-2.5">
    <div class="flex">
        <div class="w-2/5 font-medium py-2.5">Sản phẩm</div>
        <div class="w-1/5 font-medium py-2.5">Ngành hàng</div>
        <div class="w-1/5 font-medium py-2.5">Đặt/Mua/Kiểm(nhận)</div>
        <div class="w-1/5 font-medium py-2.5">Tiền hàng</div>
    </div>
    <div class="flex">
        <div class="w-2/5 flex">
            <div>
                <img
                nz-image
                width="69px"
                height="69px"
                nzSrc="https://img.alicdn.com/imgextra/i3/2923712748/O1CN01TP5Ouy1WAd14xeypA_!!2923712748.jpg_430x430q90.jpg"
                alt=""
                />
            </div>
            <div class="px-2.5">
                <p><a class="text-blue-600" href="#">夏季浅色九分牛仔裤男修身弹力小脚裤子男士韩版潮牌乞丐破洞水洗</a></p>
                <p>30;浅蓝色3815</p>
                <p>夏季浅色九分牛仔裤男修身弹力小脚裤子男士韩版潮牌乞丐破洞水洗</p>
            </div>
        </div>
        <div class="w-1/5">
            <p>Ngành hàng</p>
            <p>Thương hiệu</p>
        </div>
        <div class="w-1/5">1/1/1</div>
        <div class="w-1/5">16,90¥</div>
    </div>
    
</nz-card>