<nz-card nzTitle="Giao dịch trên đơn" class="mb-2.5">
    <div class="flex">
        <div class="w-1/5 font-medium py-2.5">Thời gian</div>
        <div class="w-1/5 font-medium py-2.5">Giá trị</div>
        <div class="w-1/5 font-medium py-2.5">Loại giao dịch</div>
        <div class="w-2/5 font-medium py-2.5">Nội dung</div>
    </div>
    <div class="flex border-t border-gray-300 border-solid">
        <div class="w-1/5 py-2.5">09:55 13/10/2020</div>
        <div class="w-1/5 py-2.5 text-red-400 font-medium">-108.171đ</div>
        <div class="w-1/5 py-2.5">Đặt cọc</div>
        <div class="w-2/5 py-2.5">
            <p>Đặt cọc cho đơn hàng BE5693_82131</p>
            <p class="text-gray-400 font-medium">Mã: 202010130955178695</p>
        </div>
    </div>
</nz-card>