<nz-card nzTitle="Lịch sử giao dịch" class="mb-2.5">
    <div class="flex">
        <div class="w-1/6 text-gray-400">Đặt cọc</div>
        <div class="w-1/6">00:15 17/02</div>
        <div class="w-1/6 text-gray-400">Đã mua</div>
        <div class="w-1/6">09:59 20/02</div>
        <div class="w-1/6 text-gray-400">NB giao</div>
        <div class="w-1/6">09:59 20/02</div>
    </div>
    <div class="flex">
        <div class="w-1/6 text-gray-400">NH nhận</div>
        <div class="w-1/6">00:15 17/02</div>
        <div class="w-1/6 text-gray-400">Vận chuyển</div>
        <div class="w-1/6">09:59 20/02</div>
        <div class="w-1/6 text-gray-400">Chờ giao</div>
        <div class="w-1/6">09:59 20/02</div>
    </div>
    <div class="flex">
        <div class="w-1/6 text-gray-400">Yêu cầu giao</div>
        <div class="w-1/6">00:15 17/02</div>
        <div class="w-1/6 text-gray-400">Đang giao</div>
        <div class="w-1/6">09:59 20/02</div>
        <div class="w-1/6 text-gray-400">Nhận hàng</div>
        <div class="w-1/6">09:59 20/02</div>
    </div>
    <div class="flex">
        <div class="w-1/6 text-gray-400">Hủy đơn</div>
        <div class="w-1/6">---</div>
        <div class="w-1/6 text-gray-400">Thất lạc</div>
        <div class="w-1/6">---</div>
    </div>
</nz-card>