<nz-card nzTitle="Địa chỉ nhận hàng" class="mb-2.5">
    <p>Cọp xanh</p>
    <p>09812345671</p>
    <p>Số 2 , ngõ 64 kim giang / Quận Thanh Xuân / Hà Nội</p>
</nz-card>


<nz-card nzTitle="Dịch vụ" class="mb-2.5">
    <div class="flex">
        <div class="w-1/4">
            <label nz-checkbox >Kiểm hàng</label>
        </div>
        <div class="w-1/4">
            <label nz-checkbox >Đóng gỗ</label>
        </div>
        <div class="w-1/4">
            <label nz-checkbox >Đóng gỗ riêng</label>
        </div>
        <div class="w-1/4">
            <label nz-checkbox >Quấn bọt khí</label>
        </div>
    </div>
    <div class="flex">
        <div class="w-1/4">
            <label nz-checkbox >Quấn bọt khí riêng</label>
        </div>
        <div class="w-1/4">
            <label nz-checkbox >Chuyển phát nhanh</label>
        </div>
        <div class="w-1/4">
            <label nz-checkbox >Chuyển phát tiết kiệm</label>
        </div>
        <div class="w-1/4">
            <label nz-checkbox >Chuyển thẳng</label>
        </div>
    </div>
</nz-card>
<nz-card nzTitle="Thông tin đơn hàng" class="mb-2.5">
    <div class="flex">
        <div class="w-1/4">
            Cấp ưu đãi
        </div>
        <div class="w-1/4">
            Vip 0
        </div>
        <div class="w-1/4">
            Tổng cân nặng tịnh
        </div>
        <div class="w-1/4">
            0,4 kg
        </div>
    </div>
    <div class="flex">
        <div class="w-1/4">
            Tỉ lệ đặt cọc
        </div>
        <div class="w-1/4">
            50,0%
        </div>
        <div class="w-1/4">
            Tổng cân quy đổi
        </div>
        <div class="w-1/4">
            ---
        </div>
    </div>
    <div class="flex">
        <div class="w-1/4">
            Người bán
        </div>
        <div class="w-1/4">
            62693222
        </div>
        <div class="w-1/4">
            Thể tích
        </div>
        <div class="w-1/4">
            ---
        </div>
    </div>
    <div class="flex">
        <div class="w-1/4">
        </div>
        <div class="w-1/4">
        </div>
        <div class="w-1/4">
            Cân nặng tính phí VCQT
        </div>
        <div class="w-1/4">
            0,4 kg
        </div>
    </div>
</nz-card>